/*RACHELS BASE CSS STYLES*/

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img{
  width: 100%;
}

#root{
  width: inherit;
  height:100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  line-height: calc(var(--font-size-caption) * 1.4);
  font-family: var(--font);
}

main{
  padding: var(--spacer-sm);
  display: flex;
  width: 100%;
  height: inherit;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  
}


footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: calc(1.8 * var(--spacer-lg));
  padding: 0 var(--spacer-lg);
  align-self: flex-end;
  background-color: var(--colors-accent-dark);
  color: var(--colors-white);
 
}

footer .icon{
  color: var(--colors-white);
  font-size: 30px;
}

footer .icon:hover,
footer .icon:focus{
fill: var(--colors-accent);
}

footer a{
  outline: 0;
}


p{
  font-size: var(--font-size-regular);
}

button, .button{
  cursor: pointer;
  outline: 0;
  width: var(--button-width);
  height: var(--button-height);
  color:var(--colors-accent);
  background-color: var(--colors-accent-dark);
  border: var(--border-width) solid var(--colors-accent-dark);
  margin-bottom: var(--spacer-tiny);
  border-radius: 2px;
  font-family: inherit;
  font-size: inherit;
}

button:focus, .button:focus{
  background-color: var(--colors-accent);
  border: var(--border-width) solid var(--colors-accent);
  color:var(--colors-accent-dark);
}

section{
  display: flex;
  flex-direction: column;
  width: inherit;
  padding: var(--spacer-lg);
  justify-content: flex-start;
  height: 100%;
  color: var(--colors-black);
}




/*STYLES FOR FORM ELEMENTS*/
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input, textarea{
  width: 100%;
  padding: 3px;
  font-size: var(--font-size-sm);
  outline: 0;
}

input:focus, textarea:focus{
  border: var(--border-width) solid var(--colors-accent);
}
