
.book-thumb-wrapper{
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 200px;
    padding: var(--spacer-sm);
    justify-content: space-between;
    margin: var(--spacer-sm);
    cursor: pointer;
    outline: 0;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

.book-thumb-wrapper{
    color: black;
    background-color: white;
}

.book-thumb-wrapper:hover,
.book-thumb-wrapper:focus{
outline: 2px solid #090909;
}

.book-thumb-title{
    flex: 2;
}

.also-by-wrapper{
    display: flex;
    width: inherit;
    flex-wrap: wrap;
}

.book-info-wrapper{
    display: flex;
    flex-direction: column;
    height: 300px !important;
    width: 240px;
    padding: var(--spacer-lg);
    border-radius:  1px 8px 8px 1px;
    justify-content: center;
    background-color: var(--colors-two-dark);
}


.book-info-wrapper p {
    padding: var(--spacer-sm) 0;
}

.author-books-wrapper{
    margin-top: var(--spacer-lg);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: var(--spacer-sm);
    
}

.also-by-wrapper{
    display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

.author-books-wrapper h3{
text-align: center;
align-self: center;
}


.book-wrapper{
    height: 100%;
    flex: 4;
    flex-direction: column;
    justify-content: center;
    
}

@media all and (min-width: 550px){
    .author-books-wrapper{
        margin-top: var(--spacer-lg);
    }
.book-wrapper{
    flex-direction: row;
    align-items: flex-start;
}

.book-info-wrapper{
    margin-top: var(--spacer-sm);
}

.author-books-wrapper{
    margin-top: 0;
}

.also-by-wrapper{
    flex-direction: column;
    width: 250px;
}

}

@media all and (min-width: 700px){
    .book-info-wrapper{
        height: 400px !important;
      width: 300px; 
    }
}

@media all and (min-width: 900px){
    .also-by-wrapper{
        flex-direction: row;
        width: 100%;
    }

    .book-wrapper{
        justify-content: space-between;
        width: inherit;
    }
}

.book-info-wrapper{
    background-color: white;
    color: inherit;
}

/*COLOR CLASSES BASED ON GENRE*/

.Fiction{
    background-color: #69f06b;
   
}

.Fiction:focus,
.Fiction:hover{
    color: #007d2b;
    outline: 2px solid #007d2b;
}

.Poetry{
    background-color: #69eef0;
   
}

.Poetry:focus,
.Poetry:hover{ 
    color: #007570;
    outline: 2px solid #007570;
}

.Stories{
    background-color: #aaf069;
}

.Stories:focus,
.Stories:hover{ 
    color: #008700;
    outline: 2px solid #008700;
}

.Writing:focus,
.Writing:hover{ 
    color:#a500cc;
    outline: 2px solid #a500cc;
}

.Writing{
    background-color: #f599f3;
}

.Philosophy{
    background-color: #69eef0;
}

.Philosophy:focus,
.Philosophy:hover{ 
    color:#007570;
    outline: 2px solid #007570;
}

.Classics{
    background-color: #8687f4;
}

.Classics:focus,
.Classics:hover{ 
    color:#3508ae;
    outline: 2px solid #3508ae;
}

.book-info-wrapper:hover{
    outline: 0;
    color: inherit;
}


