ul{
  list-style: none;
  width: inherit;
  position: absolute;
}

li{
  outline: 0;
  height: var(--button-height);
  width: var(--button-width);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: var(--border-width) solid inherit;
  color: var(--colors-accent);
  background-color: var(--colors-accent-dark);
  border-radius: 2px;
  margin-bottom: var(--spacer-tiny);
}

li span{
  padding-left: var(--spacer-tiny);
}

li:focus{
  background-color: var(--colors-accent);
  color: var(--colors-accent-dark);
  position: relative;
  z-index: 3;
}

nav{
  align-self: flex-end;
}



.sub-nav-wrapper{
  right: calc(var(--button-width) + var(--spacer-tiny));
  z-index: 7;
  top: calc(var(--button-height) + var(--spacer-tiny));
  
}

.sub-nav-author{
  top: 0;
}

.sub-nav-genre{
  top: calc(var(--button-height) + var(--spacer-tiny));
}

.sub-nav-rating{
  top: calc(calc(var(--button-height) + var(--spacer-tiny)) * 2);
}

.nav-arrow-turned{
  transform: rotate(90deg);
   padding-left: var(--spacer-tiny);
}

.nav-arrow{
  transform: rotate(0deg);
  padding-left: var(--spacer-tiny);
}

@media all and (min-width: 500px){
  nav{
    width: calc(var(--button-width) + var(--spacer-lg));
    
    padding-right: var(--spacer-lg);
  }
}