@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

:root{
  --colors-accent:#8e2868 ;
  --colors-accent-dark:   #f599c5;
  --colors-black: #000;
  --colors-white: #FFF;

  --spacer-tiny: 0.2rem;
  --spacer-sm: 1rem;
  --spacer-med: 1.4rem;
  --spacer-lg: 1.8rem;

  --button-width: 150px;
  --button-height: 2rem;

  --border-width: 2px;

  --font-size-caption: 1rem;
  --font-size-regular: 1rem;
  
  --font: "Crimson Text", serif;
}

@media all and (min-width: 500px){
 :root{
  --spacer-sm: 1rem;
  --spacer-med: 1.2rem;
  --spacer-lg: 1.4rem;

 } 

}

@media all and (min-width: 800px){
  :root{
   --spacer-sm: 1.2rem;
   --spacer-med: 1.6rem;
   --spacer-lg: 2rem;
  } 

}